html, body { padding: 0; margin: 0; width: 100%; height: 100%; }

#map { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

#get-it-container { width: 220px; height: 60px; border: 2px solid #157293; background: #fff; }

.gm-style-cc { display:none; }

footer { font-size: 12px; position: absolute; bottom: 0; width: 100%; background: #FFF; z-index: 1; height: 50px; line-height: 50px; font-family: 'Open Sans', sans-serif; font-weight: 800; }
footer div { letter-spacing: 2px; }
#footer-text, #footer-links, #footer-links > div { display: inline-block; }
#footer-links { float: right; margin-right: 50px; }
#footer-links a { color: #7BB51C; cursor: pointer; }
#footer-links > div { margin-left: 55px; }
#footer-text { margin-left: 50px; }